body {
    margin: 0%;
    padding: 0%;
}

div {
    position: absolute;
    font-size: 48px;
}

.twitter {
    color: #1DA1F2;
}

.facebook {
    color: #3C5A99;
}

.twitch {
    color: #7b68ee;

}

.youtube {
    color: #FF0000;
}

.xbox {
    color: #107C10;
}

.playstation {
    color: #003087;
}

.steam {
    color: #000000;
}

.github {
    color: #6e5494;
}

.discord {
    color: #7289da;
}

.instagram {
    color: #5851db;
}

.android {
    color: #78C257;
}

.apple {
    color: #A3AAAE;
}

.windows {
    color: #00A4EF;
}

.linux {
    color: #000000;
}

.linkedin {
    color: #0077B5;
}